$heading-color: #2D3958;
$text-color: #7B88A8;
$text-gray: #E7E5EA;
$primary-color: #4F77FF;
$bg-yellow: #F9C45C;
$bg-footer: #292F3A;
$bg-cream: #F7F5F1;
$text-gradient1: #857FFF;
$text-gradient2: #FFC0EC;
