section.digital 
  .container 
    h2.g-heading.g-heading--md.digital-heading Digital products that people love to use
    p.g-text.g-text--big.digital-text Applying behavioral science to customer experience
    .digital-list 
      .digital-item 
        .digital-image 
          img(srcset="./images/img-digital1.png 2x", alt="")
          img.digital-shape-1(src="./images/shape-digital1.svg", alt="")
        .digital-content
          h3.g-heading.g-heading--sm.digital-title Web3 Experience Design
          p.g-text.g-text--big.digital-desc In the new digital era, users are in control of content and community, and experience design is essential.
          .digital-categorys 
            .digital-category 
              h4.digital-position 
                img(src="./images/category1.svg", alt="")
                span Design &amp; Development Systems
              p.digital-info Chat, start meetings or join them with a click from within your conversation.
            .digital-category 
              h4.digital-position 
                img(src="./images/category2.svg", alt="")
                span Digital Growth Strategy
              p.digital-info Chat, start meetings or join them with a click from within your conversation.
            .digital-category 
              h4.digital-position 
                img(src="./images/category3.svg", alt="")
                span User Journey Mapping
              p.digital-info Chat, start meetings or join them with a click from within your conversation.
      .digital-item 
        .digital-image 
          img(srcset="./images/img-digital2.png 2x", alt="")
          img.digital-shape-2(src="./images/shape-digital2.svg", alt="")
        .digital-content
          h3.g-heading.g-heading--sm.digital-title We create world-class products
          p.g-text.g-text--big.digital-desc  We're a web design agency creating next-level websites by strategically blending user experience and brand storytelling.
          p.g-text.g-text--big Our full-stack design and development agency based in San Francisco provides front-end and back-end development services working closely with our designers. As a UX UI and app development company, we build native mobile apps for iOS and Android, web applications, apps for wearables, and B2B/enterprise software.
          a.button.digital-button(href="#!") Discover Now 
      .digital-item 
        .digital-image 
          img(srcset="./images/img-digital3.png 2x", alt="")
          img.digital-shape-3(src="./images/shape-digital3.svg", alt="")
        .digital-content
          h3.g-heading.g-heading--sm.digital-title UI/UX design and branding agency
          p.g-text.g-text--big.digital-desc We start each new digital product design partnership with an in-depth discovery phase to immerse ourselves in your business. Our UX/UI designers interview stakeholders, conduct user research, analyze your competition, and consolidate content.
          p.g-text.g-text--big The result is an action plan on executing a holistic brand and user experience.
          a.button.digital-button(href="#!") Our Services

