section.experience 
  .experience-bg 
    img(srcset="./images/img-shapes1.png 2x", alt="")
  .container 
    .experience-main
      h2.g-heading.g-heading--md.experience-heading We design &amp; develop transformative user experiences from Silicon Valley
      p.experience-text Are you ready to start your project? Contact us today and get started!
      a.button.experience-button(href="#!") Get Started 