section.explore
  .container 
    h2.explore-heading Explore our recent client success stories and witness our full 360 transformations come to life
    .explore-list 
      .explore-item 
        .explore-image
          img(srcset="./images/img-cta1.png 2x", alt="")
        p.explore-name UX/UI Design
      .explore-item 
        .explore-image
          img(srcset="./images/img-cta2.png 2x", alt="")
        p.explore-name NFT Market UI
      .explore-item 
        .explore-image
          img(srcset="./images/img-cta3.png 2x", alt="")
        p.explore-name Health Mobile App
      .explore-item 
        .explore-image
          img(srcset="./images/img-cta4.png 2x", alt="")
        p.explore-name Wallet App Development
