section.service
  .container 
    h2.g-heading.g-heading--lg.service-heading We design engaging digital products used by millions of people
    p.g-text.g-text--big.service-desc We team up with marketing departments of large companies and startups to deliver award-winning websites
    .service-list 
      .service-item.active
        .service-icon 
          img(src="./images/img-icon-rocket.svg", alt="")
        h4.service-name Branding
        p.g-text.g-text--small.service-text We design digital platforms to empower users and your brand's tribe.
      .service-item 
        .service-icon 
          img(src="./images/img-icon-layers.svg", alt="")
        h4.service-name Development
        p.g-text.g-text--small.service-text We design digital platforms to empower users and your brand's tribe.
      .service-item 
        .service-icon 
          img(src="./images/img-icon-chart.svg", alt="")
        h4.service-name Strategy
        p.g-text.g-text--small.service-text We design digital platforms to empower users and your brand's tribe.
    a.button.service-button(href="#!") View Our Services 
    .service-social
      h3.g-heading.g-heading--sm.service-title Working with the most trusted brands in the industry
      .service-logos
        a(href="#!").service-logo 
          img(src="./images/img-google.svg", alt="")
        a(href="#!").service-logo 
          img(src="./images/img-nextflix.svg", alt="")
        a(href="#!").service-logo 
          img(src="./images/img-slack.svg", alt="")
        a(href="#!").service-logo 
          img(src="./images/img-intercom.svg", alt="")